*{
    box-sizing: border-box;
}
h1{
    border: 3px solid green
}
.box{
    border: 5px solid red;
    padding: 2em;
    margin-top: 1em;
    color: red
}
.box2{
    border: 5px dashed blue;
    padding: 2em;
    color: blue;
}
li{
    border: 3px dashed green;
    padding: 1em;
    margin-top: 1em;
}
.inline li {
    display: inline;
    border: 5px dashed blue;
    color: red;
}
.inlineblock li {
    display: inline-block;
    border: 3px dashed red;
}
.row div{
    float: left;
}
.box1-3 {
    width: 33.33%;
    border: 1px solid;
    padding: 1em;
}
.box1-2 {
    width: 50%;
    border: 1px solid;
    padding: 1em;
}